<!doctype html>
<html lang="en">
  <head>
    <title>Urle | Server manager</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <h1>Server manager</h1>
    <main>
      <button id="start-server">START</button>
    </main>
  </body>

  <style>
    button {
      width: 100%;
      padding: 20rem;
      font-size: 4rem;
    }
  </style>

  <script>
    document.querySelector("#start-server").addEventListener("click", () => {
      fetch("/start");
    });
  </script>
</html>
